// -----------------------------------------------
// Imports ///////////////////////////////////////
// -----------------------------------------------
@import "../../global.scss";

// -----------------------------------------------
// Styling ///////////////////////////////////////
// -----------------------------------------------

h1 {
  color: #004180;
  font-size: 150%;
  font-weight: 700; 
  letter-spacing: 0px; 
}

h2 {
  color: #005ab3;
  font-size: 120%;
  font-weight: 600; 
  letter-spacing: 0px; 
}
