// -----------------------------------------------
// Imports ///////////////////////////////////////
// -----------------------------------------------
@import "../../global.scss";

// -----------------------------------------------
// Styling ///////////////////////////////////////
// -----------------------------------------------

footer.Footer {
  height: 50px;
  display: grid;
  place-items: center;
  border-top: 1px solid $FooterBackgroundColor;
  background: GetThemeColor(4);
}
